{% extends 'Ebook/base_control.html' %}
{% block content %}
<body>
    {% include 'Ebook/navbar_control.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Home</div>
                    <div class="panel-body">
                        <h4>Thống kê</h4>
                        <p>Số truyện:{{ novels_number }}</p>
                        <p>Số chương: {{chapters_number }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}