{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang chủ - Cổng Light Novel - Đọc Light Novel</title>
    <meta name="keywords"
        content="cổng light novel, đọc light novel, tiếng việt, tv, anime, manga, light novel, light novel convert, novel, thư viện, ecchi, comedy, school life, romance, sonako, hako, hako.re, harem, sword art online, baka to test, overlord, mushoku tensei, cô gái văn chương, light novel vietsub, youkoso, konosuba, You-Zitsu, Classroom of the Elite, Kumo Desu Ga Nani Ka, OLN, Overlord, Sáng tác, Sáng tác OLN, viết truyện, sáng tác light novel, oln, truyện tự sáng tác, truyện tiếng việt">
    <meta name="description"
        content="Đọc Light Novel online, bình luận Light Novel. Thư viện Light Novel Tiếng Việt lớn nhất, chất lượng cao, cập nhật liên tục, nhiều chức năng hỗ trợ việc đọc truyện dễ dàng.">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="ELhLi8UNMIBHQnmiuPVvDAI3ra344kglDrVqy2VM">
    <meta name="logged-in" content="1">
    <link rel="canonical" href="https://ln.hako.re">
    <meta property="og:image" content="{% static 'img/nocover.png' %}">
    <meta property="fb:app_id" content="1864643850436909">
    <link rel="prefetch" href="{% static '/fonts/OpenSans-Regular.ttf' %}" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="prefetch" href="{% static '/fonts/OpenSans-SemiBold.ttf' %}" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/img/apple-touch-icon-114x114.png' %}">
    <link rel="stylesheet" href="{% static '/css/interface.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />
    <script src="{% static '/scripts/plugins.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('set', {
            'user_id': '111847',
            'dimension1': true
        });
        gtag('js', new Date());
        gtag('config', 'UA-34864968-3');
    </script>
</head>

<body>
    <div id="page-top"></div>
    <div data-scrollto="#page-top" class="backtoTop"><i class="fas fa-angle-double-up"></i></div>
    {% block content %}
    {% endblock %}
    <script src="{% static '/scripts/app.js' %}"></script>
    <script type='text/javascript'
        src='//pl16314303.safestcontentgate.com/d5/6b/4b/d56b4bd6c3d2c1e161c4ab3c78c27670.js'></script>
    <footer id="footer">
        <div class="container">

            <span class="right">Liên hệ: <a href="mailto:contact@hako.re" target="_blank"
                    style="color: #5fff46">contact@hako.re</a></span>
            <span>© 2016 - 2022 Cổng Light Novel - Đọc Light Novel</span>
        </div>
    </footer>
</body>

</html>