{% extends 'Ebook/base_control.html' %}
{% block content %}
<body>
  {% include 'Ebook/navbar_control.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">Series</div>
          <div class="panel-body">
            <div class="alert alert-info">
              Quy định chung khi đăng truyện <a class="alert-link"
                href="https://ln.hako.re/thao-luan/20-quy-dinh-chung-doi-voi-cac-du-an-dang-tai-cong-light-novel-bao-gom-truyen-dichconvert-va-oln"
                rel="nofollow" target="_blank">tại đây</a><br> Quy định về Truyện sáng tác <a class="alert-link"
                href="https://ln.hako.re/thao-luan/77-quy-dinh-doi-voi-oln" rel="nofollow" target="_blank">tại
                đây</a><br><br> Cần đọc <a class="alert-link"
                href="https://ln.hako.re/thao-luan/368-huong-dan-dang-truyen" rel="nofollow" target="_blank">Hướng dẫn
                đăng truyện</a>
            </div>
            <form method="POST" action="{% url 'edit_novel' slug %}" enctype="multipart/form-data"> {% csrf_token %}
              {{ form.media }}
              <div class="form-group clearfix required">
                <label class="col-md-2 control-label pt-7 text-right">Tiêu đề</label>
                <div class="col-md-8">
                  {{ form.title }}
                </div>
              </div>
              <div class="form-group clearfix required">
                <label class="col-md-2 control-label pt-7 text-right">Thể loại</label>
                <div class="col-md-8">
                  {{ form.tags}}
                </div>
              </div>
              <div class="form-group clearfix required">
                <label class="col-md-2 control-label text-right">Tóm tắt</label>
                <div class="col-md-10">
                  {{ form.description }}
                </div>
              </div>
              <div class="form-group clearfix required">
                <label class="col-md-2 control-label text-right">Ảnh bìa</label>
                <div class="col-md-10">
                  {{ form.thumbnail }}
                </div>
              </div>
              <div class="form-group clearfix required">
                <label class="col-md-2 control-label pt-5 text-right">Tình trạng dịch</label>
                <div class="col-md-10">
                  {{ form.status }}
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <button type="submit" class="btn btn-primary">
                    Cập nhật truyện
                  </button>
                  <a href="javascript: history.back()" class="btn btn-warning">
                    Quay lại
                  </a>
                  
                </div>
              </div>
            </form>
            <script>
              $(document).ready(function () {
                $('#select-type').on('change', function () {
                  var value = $(this).val();
                  if (value == '3') {
                    $('#select-group').parent().parent().hide();
                  } else {
                    $('#select-group').parent().parent().show();
                  }
                })
              })
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}