{% extends 'Ebook/base.html' %}
{% load static %}
{% block content %}
{% include 'Ebook/navbar.html' %}
<main id="mainpart" class="user-page">
        <div class="container">
            <div class="row d-block clearfix">
                <div style="text-align: center; margin: 0 auto 10px auto;">
                </div>
                <div class="col-12 col-lg-9 float-left">
                    <div class="pad-bottom-20">
                        <div class="row">
                            <span class="col-6 text-right">
<img class="loading" src="/img/loading.svg" style="width: auto; height: 12px; margin-right: 5px; display: none">
<span class="action-link mark-read-all strong">Đã đọc tất cả</span>
                            </span>
                        </div>
                    </div>
                    <section class="basic-section has-pagination">
                        <table class="table table-borderless listext-table has-covers">
                            <tr>
                                <th class="col-8 col-md-6">Tên truyện</th>
                                <th class="none table-cell-m col-md-4">Chapter mới nhất</th>

                                <th class="col-4 col-md-2 text-right">Đã đọc gần nhất</th>
                            </tr>
                            {% for bookmark,novel in bookmark_novels %}
                    
                            <tr>
                                <td>
                                    <div class="a6-ratio series-cover">
                                        <div class="content img-in-ratio" style="background-image:url('{{ MEDIA_URL }}/{{ novel.thumbnail }}')"></div>   
                                    </div>
                                    <div class="series-name">
                                        <a href="{{ novel.get_absolute_url }}">{{ novel.title|title }}</a>
                                    </div>
                                </td>
                                <td class="none table-cell-m">
                                    <a href="{% url 'read' novel.slug bookmark.number %}">Chapter {{ novel.chapter_set.count }} </a>
                                </td>

                                <td class="text-right update-action">   
                                    <span class="update-status unread-chapters">Chương {{bookmark.number}} <span class="none inline-m"></span></span><br>
                                    <img class="loading" src="/img/loading.svg" style="width: auto; height: 12px; margin-right: 5px; display: none">
                                    <span class="button mark-read" data-unread="28" data-series="11586"><i class="fas fa-check-square-o"></i> Đã đọc ?</span>
                                </td>

                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <div class="a6-ratio series-cover">
                                        <div class="content img-in-ratio" style="background-image: url('https://c1.hako.re/lightnovel/covers/s8892-4dbed1dd-2909-4ada-b3ce-15b32f20ec5a-m.jpg')"></div>
                                    </div>
                                    <div class="series-name">
                                        <a href="/truyen/8892-dragon-chain-ori-spirit-in-the-heart">Ori of the Dragon Chain - &quot;Heart&quot; in the mind</a>
                                        <small class="type-translation">Truyện dịch</small>
                                    </div>
                                </td>
                                <td class="none table-cell-m">
                                    <a href="/truyen/8892-dragon-chain-ori-spirit-in-the-heart/c92723-chuong-03-part-7">Chương 03 Part 7</a>

                                </td>

                                <td class="text-right update-action">
                                    <span class="update-status no-chapters disabled">Không có</span><br>
                                </td>

                                <div style="display: none">
                                    <div id="series_8892" style="padding: 10px 0;" class="clear">
                                        <div class="col-4" style="">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio" style="background-image: url('https://c1.hako.re/lightnovel/covers/s8892-4dbed1dd-2909-4ada-b3ce-15b32f20ec5a-m.jpg')"></div>
                                            </div>
                                        </div>
                                        <div class="col-8" style="">
                                            <h4 style="text-align: left; padding-bottom: 4px; color: white">Ori of the Dragon Chain - &quot;Heart&quot; in the mind</h4>
                                            <div style="font-size: 14px; font-size: 0.875rem;"> Lời hứa sẽ cùng nhau thực hiện giấc mơ của cô ấy, chúng tôi đã gia nhập học viện Solminati. Do khả năng yếu kém, để theo kịp bạn bè, bản thân tôi say mê tập luyện mà chẳng biết sắp có một biến cố lớn ập lên
                                                đầu... </div>
                                        </div>
                                    </div>
                                </div>

                            </tr> -->
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
            tippy('.tooltip', {
                delay: 50,
                maxWidth: 500,
                interactive: true,
                content(ref) {
                    const selector = ref.getAttribute('data-tooltip-content');
                    const template = document.querySelector(selector);
                    return template.innerHTML;
                }
            });

            var token = 'UQqMiH8U37wa1ZuHb7HabumukEjTNUKHk9wREQy2';

            $('.mark-read').on('click', function(event) {
                var _this = $(this);

                if (+_this.data('unread') == 0) {
                    return;
                }

                _this.prev().show();

                $.post('/action/series/usermarkread', {
                    _token: token,
                    series_id: $(this).data('series')
                }, function(data) {
                    if (data.status == 'success') {
                        _this.parent().html('<span class="update-status no-chapters disabled">Không có</span><br>');
                    }

                    _this.prev().hide();
                }, 'json');
            });

            $('.mark-read-all').on('click', function(event) {
                var _this = $(this);

                _this.prev().show();

                $.post('/action/series/usermarkreadall', {
                    _token: token
                }, function(data) {
                    if (data.status == 'success') {
                        $('.update-action').html('<span class="update-status no-chapters disabled"><i class="fas fa-times"></i> Chưa có</span><br>');
                    }

                    _this.prev().hide();
                }, 'json');
            });
        });
    </script>
    {% endblock %}