{% extends 'Ebook/base.html' %}
{% load static %}
{% block content %}
{% include 'Ebook/navbar.html' %}
<main id="mainpart" class="at-index">
    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="daily-recent_views">
                    <header class="title">
                        <span class="top-tab_title title-active"><i class="fas fa-trophy"></i> Nổi bật</span>
                    </header>
                    <main class="row slider d-block">
                        {% for novel in trending_novels %}
                        <div class="popular-thumb-item mr-1">
                            <div class="thumb-wrapper">
                                <a href="{{ novel.get_absolute_url }}"
                                    title="{{ novel.title|title }}">
                                    <div class="a6-ratio">
                                        <div class="content img-in-ratio"
                                            style="background-image: url('{{ MEDIA_URL }}/{{ novel.thumbnail }}')">
                                        </div>
                                    </div>
                                </a>
                                <div class="thumb-detail">
                                    <div class="thumb_attr series-title"
                                        title="{{ novel.title|title }}">
                                        <a href="{{ novel.get_absolute_url }}"
                                            title="{{ novel.title|title }}">{{ novel.title|title }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </main>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <section class="index-section rank-cirle most-followed">
                    <header class="section-title">
                        <span class="sts-bold">Theo dõi</span><span class="sts-empty">nhiều</span>
                    </header>
                    <main>
                        {% for novel in top_followed_novels %}
                        <div class="rank-circle-item">
                            <span class="rank-number">{{ forloop.counter }}</span>
                            <div class="series-detail clear">
                                <h5 class="series-title"><a href="{{ novel.get_absolute_url }}"
                                        title="{{ novel.title|title }}">{{ novel.title|title }}</a></h5>
                                <small class="rank-count">{{ novel.follow }} theo dõi</small>
                            </div>
                        </div>
                        {% endfor %}
                    </main>
                </section>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin: 0 auto 10px auto;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <section class="index-section thumb-section-flow last-chapter translation three-row">
                    <header class="section-title">
                        <span class="sts-bold">Chương</span><span class="sts-empty">mới nhất</span>
                    </header>
                    <main class="row">
                        {% for chapter in latest_chapters %}
                        <div class="thumb-item-flow col-4 col-lg-2">
                            {% comment %} <div class="thumb-wrapper">
                                <a href="{{ chapter.get_absolute_url }}"
                                    title="Chương {{ chapter.number }}: {{ chapter.title|title }}">
                                    <div class="a6-ratio">
                                        <div class="content img-in-ratio lazyload"
                                            data-bg="{{ MEDIA_URL }}/{{ chapter.novel.thumbnail }}">
                                        </div>
                                    </div>
                                </a>
                                <div class="thumb-detail">
                                    <div class="thumb_attr chapter-title" title="Chương {{ chapter.number }}: {{ chapter.title|title }}">
                                        <a href="{{ chapter.get_absolute_url }}" title="Chương {{ chapter.number }}: {{ chapter.title|title }}">Chương {{ chapter.number }}</a>
                                    </div>
                                    <div class="thumb_attr volume-title">{{ chapter.title|title }}</div>
                                </div>
                            </div>
                            <div class="thumb_attr series-title">
                                <a href="{{ novel.get_absolute_url }}" title="{{ novel.title|title }}">{{ novel.title|title }}</a>
                            </div> {% endcomment %}
                            {% include 'Ebook/novel_thumbnail.html' %}
                        </div>
                        {% endfor %}
                        <div class="thumb-item-flow col-4 col-lg-2 see-more">
                            <div class="thumb-wrapper">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio"
                                        style="background-image: url('{% static 'img/nocover.png' %}');"></div>
                                </div>
                                <a href="/list/?sapxep=capnhat">
                                    <div class="thumb-see-more">
                                        <div class="see-more-inside">
                                            <div class="see-more-content">
                                                <div class="see-more-icon"><i class="fas fa-arrow-circle-right"></i>
                                                </div>
                                                <div class="see-more-text">Xem thêm</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </main>
                </section>
            </div>
            <div class="col-12 col-lg-3">
                <section id="recent-comments" class="index-section">
                    <header class="section-title">
                        <span class="sts-bold">Bình luận</span><span class="sts-empty">gần đây</span>
                    </header>
                    <main class="sect-body">
                        {% for comment in recently_comments %}
                        <div class="comment-item-at-index">
                            <div class="comment-info">
                                <span class="series-name"><a href="{{ comment.novel.get_absolute_url }}">{{ comment.novel.title|title }}</a></span>
                                <div class="comment-content">
                                    {{ comment.content|striptags|safe|truncatechars:150 }}
                                </div>
                                <div class="comment-top">
                                    <div class="comment-user_ava">
                                        {% comment %} <i href="/user/{{ user.id}}"> {% endcomment %}
                                        <i href="{% url 'profile' comment.user.id %}">
                                            <img src="{{ MEDIA_URL }}/{{ comment.user.userinfo.avatar }}">
                                        </i>
                                    </div>
                                    <a href="{{comment.novel.get_absolute_url|add:'#ln-comment-'}}{{comment.id }}" rel="nofollow" class="comment-user_name strong">{{ comment.user.userinfo.name }}</i>
                                    <small class="comment-location">
                                        <a href="{{comment.novel.get_absolute_url|add:'#ln-comment-'}}{{comment.id }}">
                                            <time class="timeago" title="{{ comment.publication_date|date:'d-m-Y H:i:s' }}"
                                                datetime="{{ comment.publication_date|date:'c' }}">
                                                {{ comment.publication_date|date:'d-m-Y H:i:s' }}
                                            </time>
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </main>
                </section>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin: 0 auto 10px auto;">
    </div>
    <div class="container pad-top-40">
        <section class="index-section js-finished-series">
            <header class="section-title">
                <span class="sts-bold">Truyện</span><span class="sts-empty">đã hoàn thành</span>
            </header>
            <main class="row slider">
                {% for chapter in latest_finished_novels %}
                <div class="thumb-item-flow thumb-slider">
                    {% comment %} <div class="thumb-wrapper">
                        <a href="{{ chapter.get_absolute_url }}"
                            title="Chương {{ chapter.number }}: {{ chapter.title|title }}">
                            <div class="a6-ratio">
                                <div class="content img-in-ratio lazyload"
                                    data-bg="{{ MEDIA_URL }}/{{ chapter.novel.thumbnail }}">
                                </div>
                            </div>
                        </a>
                        <div class="thumb-detail">
                            <div class="thumb_attr chapter-title" title="Chương {{ chapter.number }}: {{ chapter.title|title }}">
                                <a href="{{ chapter.get_absolute_url }}" title="Chương {{ chapter.number }}: {{ chapter.title|title }}">Chương {{ chapter.number }}</a>
                            </div>
                            <div class="thumb_attr volume-title">{{ chapter.title|title }}</div>
                        </div>
                    </div>
                    <div class="thumb_attr series-title"><a href="{{ chapter.novel.get_absolute_url }}" title="{{ chapter.novel.title|title }}">{{ chapter.novel.title|title }}</a></div> {% endcomment %}
                    {% include 'Ebook/novel_thumbnail.html' %}
                </div>
                {% endfor %}
                <div class="thumb-item-flow see-more">
                    <div class="thumb-wrapper">
                        <div class="a6-ratio">
                            <div class="content img-in-ratio" style="background-image: url('{% static 'img/nocover.png' %}');">
                            </div>
                        </div>
                        <a href="/list/hoanthanh=1&amp;sapxep=capnhat">
                            <div class="thumb-see-more">
                                <div class="see-more-inside">
                                    <div class="see-more-content">
                                        <div class="see-more-icon"><i class="fas fa-arrow-circle-right"></i></div>
                                        <div class="see-more-text">Xem thêm</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </main>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $(".mobile-toggle header").click(function () {
                $(this).parent().find(".listall_summary").toggle();
                $(this).parent().find(".sect-body").toggle();
            });
        });
    </script>
</main>
{% endblock %}

