{% extends 'Ebook/base.html' %}
{% load static %}
{% block content %}
{% include 'Ebook/navbar.html' %}
<main id="mainpart" class="custome-page" style="min-height: 443px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
       
      </div>
    </div>
    <section class="page-content basic-section">
      <header class="sect-header">
        <span class="sect-title"><i class="fas fa-lock"></i> Giới thiệu Netbook</a></span>
      </header>
      <main class="sect-body">
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4">
          </div>
        </div>
        <div class="forum-page-content long-text">
          <h4><b> Netbook là?</b></h4>
          <p> Netbook là một website đọc truyện trực tuyến được ra đời từ năm 2021. 
          Đây là nơi mang hàng ngàn bộ truyện hấp dẫn, đặc sắc từ các thể loại ngôn tình, đam mỹ, tiên tiệp,... đến các độc giả.
          Không chỉ dừng lại ở đó, Netbook còn là môi trường giúp các tác giả thỏa sức sáng tạo các tác phẩm của riêng mình. </p>
          <h4><b>Tại sao nên chọn netbook?</b></h4>
          <ul>
            <li> Đăng ký tài khoản dễ dàng, thuận tiện</li>
            <li>Truyện được cập nhật một cách thường xuyên, nhanh chóng</li>
            <li>Giao diện đọc được tối ưu hóa phù hợp với nhu cầu người đọc về kích thước, font chữ cũng như màu nền</li>
            <li>Đối với tác giả, Netbook là nơi giúp các bạn dễ dàng đưa tác phẩm của mình tiếp cận với các độc giả hơn</li>
          </ul>
        </div>
      </main>
    </section>
      
    {% endblock %}