{% extends 'Ebook/base_control.html' %}
{% block content %}

<body>
    {% include 'Ebook/navbar_control.html' %}
    <style>
        tr:hover {
            background-color: #f0f0f0;
        }

        tr .btn {
            font-size: 10px;
        }

        td {
            vertical-align: middle !important;
        }

        .btn-danger {
            width: 35.3px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Series of {{ request.user.username }}
                    </div>
                    <div class="panel-body">
                        <div style="float: right; margin-bottom: 20px">
                            <form class="form-inline" method="GET" id="form-delete"> {% csrf_token %}
                                <div class="input-group">
                                    <input style="width: 300px" type="text" class="form-control" name="keywords"
                                        placeholder="Tên truyện" id="keywords_input" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" value="Tìm kiếm">Tìm kiếm</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <tr>
                                <th class="col-xs-7 col-sm-6 col-md-5 col-lg-6">Tên truyện</th>
                                <th class="hidden-xs col-sm-3 col-md-2 col-lg-2">Người đăng</th>
                                <th class="col-xs-5 col-sm-3 col-md-3 col-lg-2 text-right">Quản lý</th>
                            </tr>
                            {% for novel in novels %}
                            <tr id="series_11596">
                                <td>
                                    <b style="color: orange"></b>
                                    <a href="https://ln.hako.re/action/series/11596/manage" title="{{ novel.title }}">
                                        <b>{{ novel.title }}</b>
                                    </a>
                                </td>
                                <td class="hidden-xs">{{ userinfo.name }}</td>
                                <td class="text-right">
                                    <a class="btn btn-warning" href="#" id="btnDelete" data-href="{{ novel.slug }}"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            <table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(".btn-warning").click(function(e){
        var val=$(this).data("href");
        alert(val);
        $.ajax({
            type: 'POST',
            url:"{% url 'delete_novel' %}",
            data:{
                "csrfmiddlewaretoken" : "{{  csrf_token  }}",
                "slug":val,
            },
            success: function(res){
                location.reload(); 
            },
            error: function(res){
                alert(res);
            }
        })
    })
</script>

{% endblock %}